@font-face {
    font-family: Playfair-Regular;
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: Playfair-Bold;
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
}
@font-face {
    font-family: Playfair-SemiBold;
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf');
}
@font-face {
    font-family: Cairo-SemiBold;
    src: url('../fonts/Cairo/Cairo-SemiBold.ttf');
}
@font-face {
    font-family: Cairo-Bold;
    src: url('../fonts/Cairo/Cairo-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Playfair-Regular";
}
h1 {
    font-family: "Playfair-Bold";
}
a {
    font-family: 'Cairo-SemiBold';
    font-size: 16px;
}
button {
    font-family: 'Cairo-Bold';
}
.header {
    background: #035B5E;
    height: 100vh;
}
.navbar {
    background: #035B5E !important;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #8eb1b1;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-nav .nav-item {
    padding: 0 .9rem;
    text-align: center !important;
}
.btn-outline-success {
    border: 1px solid #fff;
    color: #fff;
}
.btn {
    padding: .375rem 1.7rem;
    border-radius: 1.5rem;
}
.btn-outline-success:hover {
    color: #025b5e;
    background-color: #fff;
    border-color: #fff;
}
.header-body {
    margin-top: 7rem;
    color: #F2C19D;
}
.logo-name span {
    font-family: Cairo-Bold;
    font-size: 1.2rem;
}
